body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

.column {
    width: 50%;
    float: left;
    color: purple;
}

.leftcolumn {
    text-align: left;
}

.rightcolumn {
    text-align: right;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h4,
h2{
    width: 400px;
    display: inline-block;
}

#startbutton {
    padding: 10px;
}

button {
    color: white;
    background-color: purple;
    font-size: medium;
    margin: 8px;
    padding: 2px 2px;
    text-align: center;
    border-radius: 8px;
    
}

ol {
    list-style: none;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 400px;
    display: inline-block;
    text-align: left;
}

/*  Highscore page related styling  */

#hsTable {
   width: 50% !important; 
   margin-left: auto;
   margin-right: auto;
} 

#gobackButton,
#hsButton {
    margin: 20px;
    padding: 10px;
    border-radius: 8px !important;
}
