
body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    margin: 10px;
}

.row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.column {
    width: 50%;
    float: left;
    color: purple;
}

.leftcolumn {
    text-align: left;
}

.rightcolumn {
    text-align: right;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.block {
    padding: 20px;
}

h4 {
    display: inline-block;
}

#startbutton {
    padding: 10px;
}

button {
    color: white;
    background-color: purple;
    font-size: medium;
    margin: 8px;
    padding: 2px 2px;
    text-align: center;
    border-radius: 8px;
    
}

#questionList {
    display: inline-block;
    text-align: left;
    list-style: none;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

.question-block {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*  Highscore page related styling  */

#hsTable {
   width: 50% !important; 
   margin-left: auto;
   margin-right: auto;
} 

#gobackButton,
#hsButton {
    margin: 20px;
    padding: 10px;
    border-radius: 8px !important;
}

@media only screen and (max-width: 768px) {
    .container {
      width: 80%;
    }
}